{% extends 'template.html' %}
{% block css %}
	<style>
		.align-vertical {
			vertical-align: middle;
		}

		.badge-sm {
			font-size: 1rem;
		}

		.hidden {
			display: none;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="modal fade" id="ChangeTagModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" id="changeTag">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Changer le Admin Tag</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-floating mb-3">
							<input type="text" name="tag" class="form-control" id="input-desc" placeholder="Lorem ipsum...">
							<label for="input-desc">Tag</label>
						</div>
					</div>
					<input type="hidden" name="csrf" value="{{ create_csrf() }}">
					<input type="hidden" name="user_id">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Confirmer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="ChangeUserTagModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" id="setUserTag">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Changer le Tag</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-floating mb-3 hidden" id="changeUserTagLogin">
							<input type="text" name="login" class="form-control" id="input-desc" placeholder="Lorem ipsum...">
							<label for="input-desc">Login</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" name="tag" class="form-control" id="input-desc" placeholder="Lorem ipsum...">
							<label for="input-desc">Tag</label>
						</div>
					</div>
					<input type="hidden" name="csrf" value="{{ create_csrf() }}">
					<input type="hidden" name="user_id">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Confirmer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="createPiscineModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" id="createPiscine">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Créer une piscine</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-floating mb-3">
							<input type="number" name="campus" class="form-control" id="input-campus" value="1" placeholder="">
							<label for="input-campus">ID Campus</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" name="cluster" class="form-control" id="input-desc" placeholder="Lorem ipsum...">
							<label for="input-desc">Cluster</label>
						</div>
					</div>
					<input type="hidden" name="csrf" value="{{ create_csrf() }}">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Confirmer</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addWhitelistModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" id="CreateWhitelist">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Ajouter une personne sur la Whitelist</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-floating mb-3">
							<input type="text" name="login" class="form-control" id="input-desc" placeholder="Lorem ipsum...">
							<label for="input-desc">login</label>
						</div>
					</div>
					<input type="hidden" name="csrf" value="{{ create_csrf() }}">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Confirmer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="createSilentModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" id="createSilent">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Créer un cluster slientieux</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-floating mb-3">
							<input type="number" name="campus" class="form-control" id="input-campus" value="1" placeholder="">
							<label for="input-campus">ID Campus</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" name="cluster" class="form-control" id="input-desc" placeholder="Lorem ipsum...">
							<label for="input-desc">Cluster</label>
						</div>
					</div>
					<input type="hidden" name="csrf" value="{{ create_csrf() }}">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Confirmer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
  <div class="modal fade" id="createTutorStationModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" id="createTutorStation">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Créer un poste Tuteur</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-floating mb-3">
							<input type="number" name="campus" class="form-control" id="input-campus" value="1" placeholder="">
							<label for="input-campus">ID Campus</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" name="station" class="form-control" id="input-desc" placeholder="Lorem ipsum...">
							<label for="input-desc">Location</label>
						</div>
					</div>
					<input type="hidden" name="csrf" value="{{ create_csrf() }}">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Confirmer</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="p-5 mb-3 text-center bg-body-tertiary rounded-3 align-vertical">
		<img class="bi mt-4 mb-3 rounded-circle" src="{{ user.image_medium }}" width="100" height="100" alt="pp">
		<h1 class="text-body-emphasis"> {{ user.login }} [perm:{{ user.admin.level }}]
			{%- if user.tag -%}
				<span class="badge badge-sm align-vertical bg-info text-dark">{{ user.tag | safe }}</span>
			{%- endif -%}
			<span class="badge badge-sm align-vertical bg-danger">{{ user.admin.tag | safe }}</span></h1>
	</div>

	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<form method="POST" id="changetagforme">
			<div class="input-group mb-3">
				<input type="text" name="tag" class="form-control" value='{{ user.admin.tag }}'>
				<input type="hidden" name="csrf" class="form-control" value='{{ create_csrf() }}'>
				<button class="btn btn-outline-secondary" type="submit">Validate</button>
			</div>
		</form>
	</div>
	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<h4>Admin</h4>
		<table class="table">
			<thead>
			<tr>
				<th scope="col">User ID</th>
				<th scope="col">Level</th>
				<th scope="col">Tag</th>
				<th scope="col">-</td>
			</tr>
			</thead>
			<tbody>
			{% for user in admins %}
				<tr>
					<td>{{ user.user_id }}</td>
					<td>{{ user.level }}</td>
					<td> <span class="badge badge-sm align-vertical bg-danger">{{ user.tag | safe }}</span> </td>
					<td>
						<button class="btn btn-info btn-sm" onclick="openChangeTagFor({{ user.user_id }} , '{{ user.tag }}')">Edit</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>


	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<h4>Whitelist
			<button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addWhitelistModal">+
			</button>
		</h4>
		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">User ID</th>
				<th scope="col">Login</th>
				<th scope="col">-</th>
			</tr>
			</thead>
			<tbody>
			{% for user in whitelist %}
				<tr>
					<th scope="row">{{ user.id }}</th>
					<td>{{ user.user_id }}</td>
					<td>{{ user.user_login }}</td>
					<td>
						<button onclick="del_whitelist({{ user.id }})" class="btn btn-danger btn-sm">-</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<h4>Tags
			<button class="btn btn-success btn-sm" onclick="openChangeUserTagFor(null, '')">+</button>
		</h4>
		<table class="table">
			<thead>
			<tr>
				<th scope="col">User ID</th>
				<th scope="col">Login</th>
				<th scope="col">Tag</th>
				<th scope="col">-</th>
			</tr>
			</thead>
			<tbody>
			{% for user in tags %}
				<tr>
					<th scope="row">{{ user.id }}</th>
					<td> {{ user.name }}</td> 
					<td> <span class="badge badge-sm align-vertical bg-info text-dark">{{ user.tag | safe }}</span> </td>
					<td>
						<button class="btn btn-info btn-sm" onclick="openChangeUserTagFor('{{ user.name }}', '{{ user.tag }}')">Edit</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>


	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<h4>Piscines
			<button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#createPiscineModal">+
			</button>
		</h4>
		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Campus</th>
				<th scope="col">Cluster</th>
				<th scope="col">-</th>
			</tr>
			</thead>
			<tbody>
			{% for piscine in piscines %}
				<tr>
					<th scope="row">{{ piscine.id }}</th>
					<td>{{ piscine.campus }}</td>
					<td>{{ piscine.cluster }}</td>
					<td>
						<button onclick="del_piscine({{ piscine.id }})" class="btn btn-danger btn-sm">-</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>


	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<h4>Clusters Sliencieux
			<button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#createSilentModal">+
			</button>
		</h4>
		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Campus</th>
				<th scope="col">Cluster</th>
				<th scope="col">-</th>
			</tr>
			</thead>
			<tbody>
			{% for silent in silents %}
				<tr>
					<th scope="row">{{ silent.id }}</th>
					<td>{{ silent.campus }}</td>
					<td>{{ silent.cluster }}</td>
					<td>
						<button onclick="del_silent({{ silent.id }})" class="btn btn-danger btn-sm">-</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>


	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<h4>Post Tutors
			<button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#createTutorStationModal">+
			</button>
		</h4>
		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Campus</th>
				<th scope="col">Location</th>
				<th scope="col">-</th>
			</tr>
			</thead>
			<tbody>
			{% for station in tutor_stations %}
				<tr>
					<th scope="row">{{ station.id }}</th>
					<td>{{ station.campus }}</td>
					<td>{{ station.station }}</td>
					<td>
						<button onclick="del_tutor_station({{ station.id }})" class="btn btn-danger btn-sm">-</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}

{% block scripts %}
  <script>
		function del_whitelist(user_id) {
			fetch(`/admin/whitelist_remove/${user_id}/{{ create_csrf() }}`).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload()
			}).catch(error => {
				triggerToast(`Une erreur s'est produite (${error.status})`, false);
				console.log(error)
			});
		}

		function del_piscine(piscine_id) {
			fetch(`/admin/piscine_remove/${piscine_id}/{{ create_csrf() }}`).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload()
			}).catch(error => {
				triggerToast(`Une erreur s'est produite (${error.status})`, false);
				console.log(error)
			});
		}

		function del_silent(silent_id) {
			fetch(`/admin/silent_remove/${silent_id}/{{ create_csrf() }}`).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload()
			}).catch(error => {
				triggerToast(`Une erreur s'est produite (${error.status})`, false);
				console.log(error)
			});
		}
		
		function del_tutor_station(tutor_station_id) {
			fetch(`/admin/tutor_station_remove/${tutor_station_id}/{{ create_csrf() }}`).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload()
			}).catch(error => {
				triggerToast(`Une erreur s'est produite (${error.status})`, false);
				console.log(error)
			});
		}

		document.getElementById('changetagforme').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/change_tag', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});
		
		function openChangeTagFor(user_id, current_tag)
		{
			let modalElem = document.querySelector("#ChangeTagModal");
			if (!modalElem)
				return ;
			modalElem.querySelector("input[name='user_id']").value = user_id.toString();
			modalElem.querySelector("input[name='tag']").value = current_tag;
			let modal = new bootstrap.Modal(modalElem).show();
		}
		
		function openChangeUserTagFor(login, current_tag)
		{
			let modalElem = document.querySelector("#ChangeUserTagModal");
			if (!modalElem)
				return ;
			if (login !== null)
			{
				modalElem.querySelector("input[name='login']").value = login.toString();
			}
			else
			{
				modalElem.querySelector("input[name='login']").type = "";
				modalElem.querySelector("#changeUserTagLogin").classList.remove("hidden");
			}
			modalElem.querySelector("input[name='tag']").value = current_tag;
			let modal = new bootstrap.Modal(modalElem).show();
		}

		document.getElementById('changeTag').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/change_tag', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});


		document.getElementById('createPiscine').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/piscine_add', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});

		document.getElementById('setUserTag').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/set_usertag', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});

		document.getElementById('CreateWhitelist').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/whitelist_add', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});
		
		document.getElementById('createSilent').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/silent_add', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});
		
    document.getElementById('createTutorStation').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/tutor_station_add', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});

	</script>
{% endblock %}
